!!!
%html
  %head
    %title Blogtown
    %link{rel: 'stylesheet', href: '/style.css', type: 'text/css'}
  %body



    %ul.nav
      %li
        %a{href: '/'} Home
      %li  
        %a{href: '/users/new'} Sign up
      %li 
        %a{href: '/sign_in'} Sign in
      %li
        %a{href: '/sign_out'} Sign out
     


  =yield
