%h1 Register y'all!

%form{action: "/users/new", method: "POST"}
  %br
  %label{for: 'fname'} First name
  %br
  %input{type: "text", name: "[user]fname"}
  %br
  %label{for: 'lname'} Last name
  %br
  %input{type: "text", name: "[user]lname"}
  %br
  %label{for: 'username'} User name
  %br
  %input{type: "text", name: "[user]username"}
  %br
  %label{for: 'email'} Email
  %br
  %input{type: "text", name: "[user]email"}
  %br
  %label{for: 'password'} Password
  %br
  %input{type: "password", name: "[user]password"}
  %br
  %input{type: "submit", value: "submit"}
  %br

  / the "value" is the actual name that appears on the button.

  /bootstrap is an automatic css file package that gets done to your code. It just happens

  /make sure that your route code matched the column names here. Like for 'lname' has to be lname in the route code.